/* RESET RULES */

html{
    font-family: sans-serif;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
ul,ol{
    list-style-type: none;
}
a{
    color: currentColor;
    text-decoration: none;
}

/* STYLE RULE */
.container-full{
    width: 100%;
}
.container-lg{
    max-width: 1200px;
    margin-bottom: 100px;
}
.row{
    display: flex;
    flex-wrap:wrap;

}
.d-flex{
    display: flex;
}
.justify-center{
    justify-content: center;
}
.align-center{
    align-items: center;
}
.header {
    background-image: url("../img/wall.png");
    height: 100px;
}
html{
    background-image: url("../img/cork.png");
    height: 100%;
}

.col-3{
    max-width: 300px;
}
.gap-5{
    gap: 20px;
}
.mt-5{
    margin-top: 50px;
}
.card{
    height: 400px;
    background-color: white;
}
.image{
    width: 280px;
    aspect-ratio: 1/1;
    
}
.flex-column{
    flex-direction: column;
}
.p-4{
    padding: 15px;
}
.relative{
    position: relative;
}
.absolute{
    position: absolute;
}
.pin-center{
    right: 50%;
    transform: translateX(50%);
    top: -15px;
}
.overlay{
    position:fixed;
    top:0px;
    right:0px;
    left:0px;
    bottom:0px;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 999;
}
.btn{
    top: 20px;
    right: 50px;
    width: 70px;
    height: 30px;
}
.d-none{
    display: none;
}
.d-block{
    display: block;
}
.justify-between{
    justify-content: space-between;
}
.card-wrap img:hover{
    transform: scale(1.1) rotate(10deg);
    box-shadow: 10px 10px 20px rgba(0,0,0,0.5);
    cursor: pointer;
    transition: all 0.5s;
}
.img-overlay{
    width: 60%;
    aspect-ratio: 4/3;
}
/* DEBUG */

.debug{
    border: solid 1px black;
}
